/* Login Container Styling */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fa;
}

.login-form {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
  color: #9a292f;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 150%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 30px;
  text-align: center;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-btn {
  width: 80%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}

.harsha{
  margin-left: 30px;
}
.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .login-form {
    padding: 20px;
  }

  .form-title {
    font-size: 20px;
  }

  .form-control {
    font-size: 14px;
  }
}
